<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<object th:include="/fragments/head :: head" th:remove="tag" />
<object th:include="${_view_} :: head" th:remove="tag" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div class="wrapper">
		<div th:replace="fragments/header :: header">&nbsp;</div>
		<div>
			<div class="row">
				<div th:replace="${_view_} :: content">Page Content</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer">&copy; 2017 Amily</div>
</body>
</html>